*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  color-scheme: light dark;
  color: #0e1c29;
  background-color: #e1e7ec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

input {
  height: 40px;
}

button {
  height: 40px;
}
